
{% extends 'demosky/base.html' %}
{% load i18n %}
{% block title_block %} Password Reset {% endblock %}
{% block head_block %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block body_block %}
<div class="container">
	<h1> Reset your password </h1>
	<p class="text-big">Your password has been set. You may go ahead and <a href="/demosky/login">sign in</a> now.</p>

</div>
{% endblock %}