<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

  <title>{% block title_block %}The Base Page{% endblock %}</title>

  <!-- bootsrap declerations -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  {% block head_block %} {% endblock %}
  <!--<link rel="stylesheet" href="{% static "DarkSky-Dev/css/base.css" %}" /> -->
  <link rel="stylesheet" href="{% static "DarkSky-Dev/css/bootstrap-social.css" %}" /> <!-- CSS -->
  <link rel="stylesheet" href="{% static "DarkSky-Dev/css/Profile.css" %}" />
</head>
{% block script_block %}

{% endblock %}
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/demosky/">Nights Watch</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/demosky/">Home</a></li>

      <!-- bootsrap declerations 
      <li><a href="#">Page 1</a></li>-->
    </ul>
    {% if user.is_authenticated %}

          <ul class="nav navbar-nav">
              <li class="active"><a href="/demosky/profile">Profile</a></li></ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a href="/demosky/logout/"><span class="glyphicon glyphicon-log-in"></span>{{user}} Logout</a></li>
       </ul>

 
     {% else %} 
       <ul class="nav navbar-nav navbar-right">
        <li><a href="/demosky/register/"><span class="glyphicon glyphicon-user"></span> Register</a></li>
         <li><a href="/demosky/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       </ul>

      
     {% endif %} 

  </div>
</nav>
  
<div class="container">
  {% block body_block %}
  <p align="center" class="text-big">This is the basic Layout !</p>
  {% endblock %}
</div>

</body>
</html>
